@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype'), 
    url('../../assets/fonts/TitilliumWeb-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype'), 
    url('../../assets/fonts/TitilliumWeb-Bold.woff2') format('woff2');
  font-weight: 600;
}