@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;

    &__text {
        margin: 0;
        padding: 10.7vw 0;
        font-size: 0.58rem;
        font-weight: 400;
        color: $slate;

        @include tablet {
            padding: 9vw 0 5.5vw 0;
            font-size: 0.75rem;
        }
        @include desktop {
            padding: 7.2vw 0 4vw 0;
        }
    }
}